<div class="wrapper">
    <p>Things</p>
    <div class="button-panel">
        <button (click)="onCreateThing()">create</button>
        <button (click)="onUncheckThings()">clear all</button>
    </div>
    <div class="error-wrapper" *ngIf="(thingsError$ | async) as errorMessage">
        <p class="error">{{errorMessage}}</p>
        <button (click)="onCloseError()">x</button>
    </div>
    <div class="content-panel">
        <app-thing
        *ngFor="let thing of things$ | async; trackBy: trackByFn"
        [thing]="thing"
        (editThing)="onEditThing($event)"
        (hideContainer)="onHideThing($event)"
        (deleteThing)="onDeleteThing($event)">
        </app-thing>
    </div>
</div>
