ul {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 20px;
}

li:first-letter {
  text-transform: uppercase;
}

.link {
    display: inline;
    color: black;
    padding: 5px;
    text-decoration: none;
    margin-right: 10px;
  
    &:hover {
      border-radius: 5px;
      box-shadow: 0 0 0 .1em gray;
    }
  }
  
  .active a {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    &:hover {
      border-radius: 5px;
      box-shadow: 0 0 0 .1em gray;
    }
  }