<div class="wrapper">
    <p>Containers</p>
    <div class="button-panel">
        <button (click)="onCreateContainer()">create</button>
        <button (click)="onUncheckContainers()">clear all</button>
    </div>
    <div class="error-wrapper" *ngIf="(containersError$ | async) as errorMessage">
        <p class="error">{{errorMessage}}</p>
        <button (click)="onCloseError()">x</button>
    </div>
    <div class="content-panel">
        <app-container
        *ngFor="let container of containers$ | async; trackBy: trackByFn"
        [container]="container"
        (editContainer)="onEditContainer($event)"
        (hideContainer)="onHideContainer($event)"
        (deleteContainer)="onDeleteContainer($event)">
       </app-container>
    </div>
</div>